<?xml version="1.0"?>
<!--
/**
 * @author Bartosz Kubicki <bartosz.kubicki@lizardmedia.pl>
 * @author Paweł Papke <pawel.papke@lizardmedia.pl>
 * @copyright Copyright (C) 2018 Lizard Media (http://lizardmedia.pl)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- API section-->
    <preference for="LizardMedia\AdminIndexer\Api\Adapter\ReactPHP\ChildProcess\ProcessFactoryInterface"
                type="LizardMedia\AdminIndexer\Model\Adapter\ReactPHP\ChildProcess\ProcessFactory"/>
    <preference for="LizardMedia\AdminIndexer\Api\Adapter\ReactPHP\EventLoop\LoopFactoryInterface"
                type="LizardMedia\AdminIndexer\Model\Adapter\ReactPHP\EventLoop\LoopFactory"/>
    <preference for="LizardMedia\AdminIndexer\Api\IndexerProcessorInterface"
                type="LizardMedia\AdminIndexer\Model\IndexerProcessor" />
    <preference for="LizardMedia\AdminIndexer\Api\ReindexRunner\MessageBagInterface"
                type="LizardMedia\AdminIndexer\Model\ReindexRunner\MessageBag"/>
    <!-- End of API section-->

    <!-- Construct arguments replacements section -->
    <type name="LizardMedia\AdminIndexer\Model\IndexerProcessor">
        <arguments>
            <argument name="reindexRunner" xsi:type="object">LizardMedia\AdminIndexer\Model\ReindexRunner\AsyncReindexRunner</argument>
        </arguments>
    </type>
    <!-- End of construct arguments replacements section -->

</config>
